body{
   background-color: black;
}
.appTitle{
   text-align: center;
   color: white;
}
.loginArea{
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
   align-items: center;
 }

 .sectionTitle{
    text-align: center;
    color: white;
 }

.Container{
   height: 10;
   width: 10;
   margin-left: auto;
   margin-right: auto;
}

.name{
   color: white;
}